<form (ngSubmit)="enviar(formulario)" #formulario="ngForm" class="row g-3 needs-validation" novalidate>

    <div class="col-md-4">
        <label for="Id" class="form-label">Id</label>
        <div class="input-group">
          <input
                [(ngModel)]="usuario.id" #id="ngModel" name="id"
                [disabled] = "esNuevo"
                type="text" class="form-control" id="Id" required>
          <div *ngIf="!id.valid && !esNuevo">
            El número de identificación es obligatorio.
          </div>
        </div>
    </div>
  <div class="col-md-4">
    <label for="Nombre" class="form-label">Nombre de usuario</label>
    <div class="input-group">
      <input [(ngModel)] = "usuario.nombre" #nombre="ngModel"
            name="nombre"
            type="text" class="form-control" id="Nombre" required>
      <div *ngIf="!nombre.valid">
        El nombre de usuario es obligatorio y debe tener solamente minúsculas y sin espacios.
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <label for="Equipo" class="form-label">Equipo</label>
    <select [(ngModel)]="(usuario.equipo < 0 ? '' : usuario.equipo)"
            name="equipo"
            #equipo="ngModel"
            class="form-select" id="Equipo"
            required>
      <option value="">Seleccionar equipo</option>
      <option *ngFor="let equipo of equipos" [value]="equipo.id">{{ equipo.nombre }}</option>
    </select>
    <div *ngIf="!equipo.valid">
      Seleccione un equipo.
    </div>
  </div>

  <div class="col-2">
    <button [disabled]="!formulario.valid" class="btn btn-primary" type="submit">Guardar</button>
  </div>
  <div class="col-2">
    <button (click)="cancelar()" class="btn btn-warning" type="button">Cancelar</button>
  </div>
</form>
